/* YOUR CUSTOM STYLES */
h1,h2,h3,h4,h5,h6,p,a,span,dt,dd{
    font-family: "Siyamrupali", Times, serif;
}

.btnText{
    text-shadow: 2px 2px 3px #000000;
}

@media only screen and (max-width: 500px) {

    #websiteTitle{
        visibility: none;
        /* margin-top: 100px;
        font-size: 120%; */
    }
     #slogan, #sloganDetails{
        font-size: 100%;
    }
}

@media only screen and (min-width: 991px) {
    .bMembersImg{
        height: 300px;
    }
}